In [37]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import os
from census import Census
from pprint import pprint
# Census API Key
from config import api_key
c = Census(api_key, year=2016)
buz_info  = 44021
zipcode = pd.read_csv("Public_ZipCode.csv")
zipcode.head()

,Building Name,District Name,County,"City, State, Zip Code",Performance Index Score 2015-16,City,State,Zip Code
0,Ada Elementary School,Ada Exempted Village,Hardin,"Ada, OH, 45810-1013",96.125,Ada,OH,45810-1013
1,Ada High School,Ada Exempted Village,Hardin,"Ada, OH, 45810-1013",91.667,Ada,OH,45810-1013
2,Sandusky Middle School,Sandusky City,Erie,"Sandusky, OH, 44870-2616",62.772,Sandusky,OH,44870-2616
3,Meigs Primary School,Meigs Local,Meigs,"Middleport, OH, 45760-9717",NC,Middleport,OH,45760-9717
4,Meigs Intermediate School,Meigs Local,Meigs,"Middleport, OH, 45760-9717",70.394,Middleport,OH,45760-9717

In [45]:
zipcode[["zipcode","extra"]] = zipcode["Zip Code"].str.split("-",expand=True)
zipcode['zipcode'].head()

0     45810
1     45810
2     44870
3     45760
4     45760
Name: zipcode, dtype: object

In [7]:
# working
#url = "https://api.census.gov/data/2016/zbp?get=ZIPCODE,EMPSZES,PAYANN&for=zipcode:44021&key=api_key

In [ ]:
# public_df[["City","State", "Zip Code"]] = public_df["City, State, Zip Code"].str.split(",",expand=True)

In [ ]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels

# set up a parameters dictionary
ZIPCODE = []
PAYANN = []

for code in zipcode['zipcode']:  

    # base url
    base_url = f"https://api.census.gov/data/2016/zbp?get=ZIPCODE,EMPSZES,PAYANN&for=zipcode:{code}&key={api_key}"
    response = requests.get(base_url).json()
    #pprint(response)
    
          
    ZIPCODE.append(response[1][0])       
    PAYANN.append(response[1][2])
    
    
    


#pprint(response)




#ZIPCODE
#print(EMPSZES)       
#PAYANN

In [62]:
#ZIPCODE      
pprint(PAYANN)
# create dataframe
#shows_df = pd.DataFrame({"ZIPCODE": zipcode,"Total Annual Payroll": PAYANN})
#shows_df.columns

['77875',
 '77875',
 '894118',
 '9171',
 '9171',
 '298500',
 '779',
 '825412',
 '16828',
 '16828',
 '4451',
 '167559',
 '615078',
 '137872',
 '247498',
 '51408',
 '21503',
 '3581',
 '9006',
 '1360272',
 '1830686',
 '1002057',
 '173391',
 '800688',
 '1905760',
 '304555',
 '15063',
 '10115',
 '268542',
 '349660',
 '36672',
 '825412',
 '684586',
 '226937',
 '104789',
 '800688',
 '1366753',
 '175215',
 '98949',
 '291886',
 '435912',
 '377618',
 '10115',
 '185028',
 '599151',
 '297821',
 '185028',
 '185028',
 '106494',
 '244998',
 '1132',
 '115535',
 '162',
 '805710',
 '743805',
 '743805',
 '39418',
 '369612',
 '355091',
 '8156',
 '59465',
 '59465',
 '135888',
 '135888',
 '135888',
 '92538',
 '92538',
 '352342',
 '1002057',
 '475638',
 '187278',
 '175015',
 '165770',
 '2955121',
 '8156',
 '14558',
 '14558',
 '33246',
 '396232',
 '685344',
 '465140',
 '534179',
 '110344',
 '297821',
 '482229',
 '482229',
 '883470',
 '39302',
 '33282',
 '117329',
 '278413',
 '883470',
 '825412',
 '1461',
 '293',
 '185028',
 '17079',
 '599151',
 '70364',
 '600009',
 '615207',
 '883470',
 '783304',
 '317748',
 '428516',
 '280625',
 '185345',
 '17079',
 '297821',
 '6554408',
 '60056',
 '212075',
 '357321',
 '484609',
 '124384',
 '825412',
 '357321',
 '685344',
 '825412',
 '73311',
 '892',
 '135390',
 '106968',
 '692005',
 '205163',
 '615207',
 '585657',
 '57602',
 '999915',
 '124384',
 '1677318',
 '379262',
 '289276',
 '6233',
 '517523',
 '24451',
 '143400',
 '144435',
 '144435',
 '125634',
 '144435',
 '222110',
 '222110',
 '5449',
 '800688',
 '5449',
 '687999',
 '687999',
 '455640',
 '435912',
 '135390',
 '51610',
 '600009',
 '144337',
 '1031257',
 '6764',
 '688392',
 '124384',
 '124384',
 '876060',
 '6764',
 '50149',
 '106968',
 '382053',
 '46457',
 '42182',
 '1832752',
 '342108',
 '766789',
 '766789',
 '226145',
 '135390',
 '6233',
 '385101',
 '6233',
 '32718',
 '49270',
 '32718',
 '267036',
 '2939971',
 '267036',
 '317748',
 '783829',
 '39514',
 '317650',
 '428516',
 '248065',
 '98949',
 '6804',
 '6804',
 '179307',
 '801109',
 '317748',
 '475638',
 '475638',
 '5545',
 '438781',
 '38997',
 '16524',
 '461868',
 '12563',
 '12563',
 '5379',
 '129292',
 '291114',
 '6062',
 '78046',
 '364790',
 '364790',
 '30551',
 '346214',
 '865495',
 '517523',
 '517523',
 '517523',
 '409274',
 '254423',
 '364555',
 '511079',
 '511079',
 '82682',
 '15122',
 '9625',
 '58917',
 '243602',
 '630111',
 '7237',
 '47764',
 '47764',
 '80894',
 '267035',
 '3800',
 '1297409',
 '141940',
 '357321',
 '357321',
 '1042475',
 '685344',
 '685344',
 '685344',
 '211783',
 '52802',
 '52802',
 '574493',
 '1830686',
 '865495',
 '0',
 '0',
 '1771895',
 '31680',
 '124623',
 '175015',
 '175015',
 '178987',
 '79344',
 '917133',
 '685828',
 '6464',
 '40877',
 '54523',
 '27947',
 '27947',
 '249655',
 '16303',
 '249655',
 '151295',
 '151295',
 '31111',
 '438443',
 '386853',
 '115092',
 '267281',
 '688392',
 '66009',
 '3618',
 '29421',
 '7006',
 '13069',
 '13069',
 '482229',
 '221152',
 '235412',
 '31918',
 '235412',
 '31918',
 '339126',
 '243602',
 '205163',
 '29724',
 '527344',
 '221152',
 '22567',
 '133267',
 '428516',
 '188341',
 '1128824',
 '1718']

In [2]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data = c.get(("ZIPCODE","EMPSZES","PAYANN""), {'for': zipcode:buz_info'})

# Convert to DataFrame
#census_pd = pd.DataFrame(census_data)

# Column Reordering
#census_pd = census_pd.rename(columns={"B01003_001E": "Population",
#                                      "B01002_001E": "Median Age",
#                                      "B19013_001E": "Household Income",
#                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate"]]

# Visualize
print(len(census_pd))
census_pd.head()

33120

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,00601,18450.0,36.6,12041.0,7380.0,10816.0,58.623306
1,00602,41302.0,38.6,15663.0,8463.0,22409.0,54.256452
2,00603,53683.0,38.9,15485.0,9176.0,26220.0,48.842278
3,00606,6591.0,37.3,15019.0,6383.0,3721.0,56.455773
4,00610,28963.0,39.2,16707.0,7892.0,14569.0,50.302110

In [3]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_pd.to_csv("census_data.csv", encoding="utf-8", index=False)